.SortingSelectionPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 12px;
  .SortingSelectionPage__heading {
    flex-grow: 0;
  }
  .SortingSelectionPage__list {
    flex-grow: 1;
    width: 240px;
  }
  .SortingSelectionPage__backButton {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
  }
}