@import "../../variables.scss";
.AddExpenseWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px;
  position: relative;
  .AddExpenseWindow__backButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-interfaceDark;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: scale 0.2s ease;

    position: absolute;
    left: 5px;
    top: 5;
    .AddExpenseWindow__backButtonIcon {
      width: 60%;
      height: 60%;
    }
  }
  @media (hover: hover) {
    .AddExpenseWindow__backButton:hover {
      scale: 1.1;
    }
  }
  .AddExpenseWindow__heading {
    font-size: $fontSize;
    font-weight: normal;
    flex-shrink: 0;
  }
  .AddExpenseWindow__fields {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 40px;
    row-gap: 24px;
    padding: 16px 6px 0 6px;
    overflow-y: auto;
    margin: 12px 0 0 0;
  }
  .AddExpenseWindow__fields::-webkit-scrollbar {
    @include scrollbar;
  }
  .AddExpenseWindow__fields::-webkit-scrollbar-thumb {
    @include scrollbarThumb;
  }
  .AddExpenseWindow__fields > label:nth-child(-2n + 4) {
    justify-self: end;
  }
  .AddExpenseWindow__fields > label:nth-child(5) {
    margin-top: 20px;
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .AddExpenseWindow__warningText {
    color: $color-interfaceGrey;
    font-size: $fontSizeUnderline;
    margin: 6px 0;
    transition: opacity 0.2s ease;
  }
  .AddExpenseWindow__warningText_transparent {
    opacity: 0;
  }
  .AddExpenseWindow__submitButton {
    flex-shrink: 0;
  }
}

@media (max-width: 630px) {
  .AddExpenseWindow {
    .AddExpenseWindow__fields {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}
