@import "../../variables.scss";
$headerHeigth: 40px;

.ExpenseList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 5px 0 5px;
  flex-shrink: 1;
  .ExpenseList__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: inherit;

    .ExpenseList__listBorder {
      width: 100%;
      height: 2px;
      border: none;
      border-radius: 1px;
      flex-shrink: 0;
      background-color: $color-interfaceDark;
    }
    .ExpenseList__listContent {
      flex-shrink: 1;
      position: relative;
      overflow-y: auto;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
  }
  .ExpenseList__listContent::-webkit-scrollbar {
    @include scrollbar;
  }
  .ExpenseList__listContent::-webkit-scrollbar-thumb {
    @include scrollbarThumb;
  }
  .ExpenseList__listContent::-webkit-scrollbar-track {
    margin-top: 10px;
    @include scrollbarTrack;
    margin-bottom: 10px;
  }
}
