@import "../../../variables.scss";
.TextField {
  display: grid;
  grid-template-columns: 96px calc(100% - 96px);
  align-items: center;
  text-align: left;
  .TextField__labelText {
    word-wrap: break-word;
  }
  .TextField__content {
    width: 100%;
    .TextField__field {
      display: flex;
      flex-direction: column;

      position: relative;
      width: 280px;
      height: 40px;
      padding: 0 16px 0 6px;
      background-color: $color-interfaceBright;
      transition: outline 0.2s ease;
      .TextField__asterisk {
        width: 10px;
        height: 10px;
        position: absolute;
        right: 4px;
        top: 4px;
        transition: opacity 0.2s ease;
      }
      .TextField__textArea {
        font-family: inherit;
        height: 36px;
        width: 100%;
        border: none;
        font-size: inherit;
        resize: none;
        overflow: hidden;
        background-color: transparent;
        padding: 8px 0 0px 0;
        z-index: 2;
        position: relative;
      }

      .TextField__errorWarning {
        align-self: flex-end;
        display: none;
        align-items: center;
        justify-content: end;
        gap: 4px;

        position: absolute;
        left: -4px;
        bottom: -14px;

        height: 22px;
        padding: 4px 8px;
        border-radius: 11px;
        background-color: $color-interfaceDark;
        text-align: center;
        z-index: 3;
        .TextField__errorWarningText {
          font-size: $fontSizeUnderline;
          color: $color-headerBackground;
          flex-grow: 1;
        }
        .TextField__errorWarningIcon {
          width: 18px;
          height: 18px;
          flex-grow: 0;
        }
      }
    }
    .TextField__field::before {
      content: "";
      position: absolute;
      inset: 0;
      border: 2px solid $color-interfaceDark;
      opacity: 0;
      transition: opacity 0.2s ease;
    }
    .TextField__field:focus-within.TextField__field::before {
      opacity: 1;
    }
  }

  .TextField__textArea:focus {
    outline: none;
  }
  .TextField__textArea::placeholder {
    visibility: hidden;
  }
}

.TextField.TextField_labelTextTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  .TextField__labelText {
    align-self: flex-start;
  }
  .TextField__content {
    .TextField__field {
      height: 160px;
      margin-left: 96px;
      width: calc(100% - 96px);
      padding: 8px 6px 4px 6px;
      .TextField__textArea {
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
      }
    }
  }
}
.TextField.TextField_labelTextTop ::-webkit-scrollbar {
  @include scrollbarSmall;
}
.TextField.TextField_labelTextTop ::-webkit-scrollbar-thumb {
  @include scrollbarThumbSmall;
}
.TextField.TextField_error {
  .TextField__content {
    .TextField__errorWarning {
      display: flex;
    }
  }
}

@media (max-width: 800px) {
  .TextField {
    display: flex;
    .TextField__labelText {
      display: none;
    }
    .TextField__textArea::placeholder {
      visibility: visible;
    }
  }

  .TextField.TextField_labelTextTop {
    align-items: center;
    .TextField__content {
      display: flex;
      justify-content: center;
      .TextField__field {
        margin-left: 0;
      }
    }
  }
}
@media (max-width: 630px) {
  .TextField,
  .TextField.TextField_labelTextTop {
    width: 100%;
    .TextField__content {
      .TextField__field {
        width: 100%;
        .TextField__textArea {
          width: 100%;
        }
      }
    }
  }
}
