@import "../variables.scss";
$buttonsHeight: 60px;
.HistoryPage {
  position: relative;
  overflow: hidden;
  transition: transform 1s ease;
  .HistoryPage__mainContent {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition:
      opacity 0.5s ease,
      top 0.5s ease;
    .HistoryPage__buttons {
      flex-shrink: 0;
      width: 100%;
      height: $buttonsHeight;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .HistoryPage__mainContent > *:nth-child(1) {
    height: calc(100% - $buttonsHeight);
  }

  .HistoryPage__addExpenseWindow {
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;

    transition:
      opacity 0.5s ease,
      top 0.5s ease;
  }
}
.HistoryPage > * {
  flex-shrink: 0;
}
.HistoryPage.HistoryPage_addingExpense {
  .HistoryPage__mainContent {
    // top: -100%;
    opacity: 0;
  }
  .HistoryPage__addExpenseWindow {
    top: 0;
    opacity: 1;
  }
}
