@import "../variables.scss";
$buttonsHeight: 60px;
.HistoryPage {
  padding: 20px 65px;
  .HistoryPage_mainContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .HistoryPage_buttons {
      flex-shrink: 0;
      width: 100%;
      height: $buttonsHeight;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .HistoryPage_mainContent > *:nth-child(1) {
    height: calc(100% - $buttonsHeight);
  }

  .HistoryPage_addExpenseWindow {
  }
}
