@import "../../variables.scss";
.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px $innerHorizontalPadding;
  height: 72px;
  background-color: $color-headerBackground;
}
@media (max-width: 1000px) {
  .Header {
    padding: 16px $innerHorizontalPadding_1000px;
  }
}
@media (max-width: 850px) {
  .Header {
    padding: 8px $innerHorizontalPadding_850px;
  }
}
@media (max-width: 800px) {
  .Header {
    position: absolute;
    height: 100vh;
    width: 400px;
    right: 0;
    top: 0;
    z-index: 5;
    transform: translateX(100%);
    transition: transform 0.2s ease;
    flex-direction: column;
    padding-top: 65px;
    overflow: auto;
  }
  .Header_open {
    transform: translateX(0);
  }
}
@media (max-width: 500px) {
  .Header {
    width: 100vw;
    padding: 65px $innerHorizontalPadding_500px;
  }
}
