@import "../../variables.scss";
.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 65px;
  height: 72px;
  background-color: $color-headerBackground;
}