@import "../variables.scss";
.content {
  width: 100%;
  max-height: 700px;
  min-height: 300px;
  height: calc(100vh - $headerHeigth);
  background-color: $color-mainBackground;
  padding: 20px $innerHorizontalPadding;
}
@media (max-width: 1000px) {
  .content  {
    padding: 20px $innerHorizontalPadding_1000px;
  }
}
@media (max-width: 850px) {
  .content  {
    padding: 10px $innerHorizontalPadding_850px;
  }
}