@import "../../../variables.scss";
.MainButton {
  @include centeredContent;
  min-width: 110px;
  height: 40px;
  color: $color-headerBackground;
  padding: 0px 5px;
  background-color: $color-interfaceDark;
  cursor: pointer;
}
.MainButton__disabled {
  cursor: auto;
  opacity: 0.4;
}
