@import "../../../variables.scss";
.MainButton {
  @include centeredContent;
  min-width: 110px;
  height: 40px;
  padding: 0px 5px;
  cursor: pointer;
  transition:
    scale 0.2s ease,
    opacity 0.2s ease,
    background-color 0.2s ease,
    color 0.2s ease;
}
.MainButton__colorDark {
  color: $color-headerBackground;
  background-color: $color-interfaceDark;
}
.MainButton__colorGrey {
  color: black;
  background-color: $color-mainBackground;
}
.MainButton__colorWhite {
  color: black;
  background-color: $color-headerBackground;
}

.MainButton__disabled {
  cursor: auto;
  opacity: 0.3;
}

@media (hover: hover) {
  .MainButton__hoverScale:hover {
    scale: 1.05;
  }
  .MainButton__hoverScale.MainButton__disabled:hover {
    scale: 1;
  }
  .MainButton__hoverColor.MainButton__colorDark:hover {
    background-color: $color-headerBackground;
    color: black;
  }
  .MainButton__hoverColor.MainButton__colorDark.MainButton__disabled:hover {
    background-color: $color-interfaceDark;
    color: $color-headerBackground;
  }
  .MainButton__hoverColor.MainButton__colorWhite:hover,
  .MainButton__hoverColor.MainButton__colorGrey:hover {
    color: $color-headerBackground;
    background-color: $color-interfaceDark;
  }
  .MainButton__hoverColor.MainButton__colorWhite.MainButton__disabled:hover,
  .MainButton__hoverColor.MainButton__colorGrey.MainButton__disabled:hover {
    background-color: $color-headerBackground;
    color: $color-interfaceDark;
  }
}
