@import "../../variables.scss";
.SortsAndFilters {
  background-color: $color-interfaceBright;
  border: 2px solid $color-interfaceDark;
  border-left: 2px solid $color-interfaceDark;
  border-right: 2px solid $color-interfaceDark;
}
