// colors
$color-body: rgb(225, 210, 207);
$color-textBlack: black;
$color-headerBackground: #ffffff;
$color-mainBackground: #e9e9e9;
$color-interfaceBright: #d2d2d2;
$color-interfaceGrey: #adaeb2;
$color-interfaceDark: #7f8084;

// fontSizes
$fontSize: 20px;
$fontSizeSmall: 16px;
$fontSizeUnderline: 10px;
$fontSize_850px: 18px;
$fontSizeSmall_850px: 14px;

// sizes
$headerHeigth: 72px;
$contentMaxHeigth: 700px;

// padding
$innerHorizontalPadding: 65px;
$innerHorizontalPadding_1000px: 20px;
$innerHorizontalPadding_850px: 10px;
$innerHorizontalPadding_500px: 4px;

// utils
@mixin centeredContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

// scrollbar
@mixin scrollbar {
  width: 6px;
}
@mixin scrollbarTrack {
  width: 6px;
  background-color: $color-interfaceGrey;
  border-radius: 3px;
}
@mixin scrollbarThumb {
  background-color: $color-interfaceDark;
  border-radius: 3px;
}

@mixin scrollbarSmall {
  width: 4px;
}
@mixin scrollbarTrackSmall {
  width: 4px;
  background-color: transparent;
  border-radius: 1px;
}
@mixin scrollbarThumbSmall {
  background-color: $color-interfaceGrey;
  border-radius: 1px;
}
