@import "../../../variables.scss";
.StepperButtons {
  display: flex;
  z-index: 3;
  gap: 5px;
  .StepperButtons__button {
    background-color: $color-interfaceDark;
    color: $color-headerBackground;
    cursor: pointer;
    padding: 5px 10px;
    transition: scale 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
  .StepperButtons__button:nth-child(1) {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .StepperButtons__button:nth-child(2) {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  @media (hover: hover) {
    .StepperButtons__button:hover {
      scale: 1.05;
    }
  }
}
